* {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.container-fluid {
    width:80%;
    margin:auto;
}

/* SECTION1 */
.section-1 {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: white;
    width: 100vw;
}

nav {
    display: flex;
    height: 72px;
    padding: 10px 0px 30px 0px;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    gap: 12px;
}

li {
    display: inline;
    font-weight: 100;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    font-weight: 700; 
}

div.jumbotron {
    display: flex;
    flex-direction: row;
 
    gap: 30px;
    margin-bottom: 70px;
}

h2 { 
    font-size: 48px;
}

.jumbotron-col-1 { 
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-around;
}

.jumbotron-col-1 p {
    font-weight: 100;
    font-size: 13px;
    margin: 16px 0px;
}
.image {
    flex: 1 1 0;
    min-height: 150px;

    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image p {
    font-weight: 100;
}

button[type="signUp"] {
    color: #fff;
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    align-self: flex-start;
    padding: 4px 16px;
}


/* SOME RANDOM INFO */

section.section-2{
    display: flex;
}

div.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0px;

}

div.card-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
   
}

div.card > p {
    font-weight: 100;
    font-size: 12px;
    max-width: 120px;
    text-align: center;
}
div.card-box  {
    width : 100px;
    height: 100px;
    border: 2px solid #3882f6;
    border-radius: 10px;
    margin: 10px 0px;
}


/* BLOCKQUOTE  */